* {
  margin: 0px;
  padding: 0px;
/*   border: red solid 1px; */
  user-select: none;
}

p:last-child {}
header {
  background-color: #d49104;
  height: 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
header #clearResults {
  position: absolute;
  right: -100px;
  top: -50px;
  transform: rotate(35deg);
  padding: 60px 70px 8px 70px;
  border: #ad0000 solid 5px;
}
header #clearResults:hover {
  background-color: #c1c1c1;
  border: #ff0000 solid 5px;
}
nav {
  height: 50px;
  background-color: #221e1b;
  box-shadow: 0 1px #2c8a5e;
}
body {
  text-align: center;
  background-color: #195438;
}
h1 {
  color: white;
  text-shadow: 0 3px black;
  margin: 30px auto;
  display: inline-block;
}
h3 {
  font-size: 30px;
  padding: 20px;
}
#welcome p {
  font-size: 20px;
  text-align:left;
}
#welcome .buttonLabel{
  text-align: center;
  padding-top: 70px;
}
#welcome button {
  padding: 8px 20px;
}
#imagesDisplayed {
  display: none;
}
#imagesDisplayed img {
  width: 300px;
  height: 300px;
  margin: 15px;
  object-fit: contain;
  border: outset 5px #f9281b;
}
#imagesDisplayed img:hover {
  background-color: #f7ac23;
  opacity: 0.8;
}
#imagesDisplayed img:active {
  border: inset 5px #ff8079;
}
#information ul {
  display: inline-block;
  width: 300px;
}
#information ul li:first-child {
  font-size: 25px;
  text-decoration: underline;
}
#resultsChart {
  display: none;
}
#tryAgain {
  margin: 30px auto;
  display: none;
  padding: 13px 50px;
  background-color: #c44f48;
  color: rgb(255, 194, 66);
  font-size: 30px;
}
#tryAgain:hover {
  background-color: #c53229;
}
button:focus {
  outline: 0;
}

article {
  border: #c44f48 outset 8px;
  display: inline-block;
  background-color: orange;
  padding: 15px;
  margin-top: 40px;
  border-radius: 30px;
}
